global:
  scrape_interval: 1s
  external_labels:
    monitor: 'devopsage-monitor'

scrape_configs:
  - job_name: 'prometheus'
    # Retain labels, as within PushGateway use
    honor_labels: true
    static_configs:
      - targets: ['{{ hostvars[hostvars[inventory_hostname]['groups']['swarm_manager'][0]].ansible_host}}:9090', '{{hostvars[hostvars[inventory_hostname]['groups']['swarm_manager'][0]].ansible_host}}:9091']

  - job_name: 'nodeexporter'
    # Retain labels, as within PushGateway use
    honor_labels: true
    static_configs:
{% for node_idx in range(hostvars[inventory_hostname]['groups']['cluster']|length) %} 

      - targets: [  "{{hostvars[groups['cluster'][node_idx]].ansible_host}}:9100" ]
        labels:
          service: "{{ groups['cluster'][node_idx] }}"
{% endfor %}}