global:
  scrape_interval: 1s
  external_labels:
    monitor: 'devopsage-monitor'

scrape_configs:
  - job_name: 'prometheus'
    # Retain labels, as within PushGateway use
    honor_labels: true
    static_configs:
      - targets: ['{{ hostvars[hostvars[inventory_hostname]['groups']['swarm_manager'][0]].ansible_host}}:9090', '{{hostvars[hostvars[inventory_hostname]['groups']['swarm_manager'][0]].ansible_host}}:9091']

  - job_name: 'nodeexporter'
    # Retain labels, as within PushGateway use
    honor_labels: true
    static_configs:
      - targets: [{% for node_ip in  hostvars[inventory_hostname]['groups']['cluster']  %} '{{ hostvars[node_ip].ansible_host }}:9100', {% endfor %} ]

